<!doctype html>
<html>
<head>
	<title>Imagine</title>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

 	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
 
 	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
 	<link rel="stylesheet" href="@routes.Assets.at("/stylesheets/main.css")">
 	@helper.requireJs(core = routes.Assets.at("/vendor/requirejs/require.js").url, module = routes.Assets.at("/javascripts/main.js").url)
</head>
<body ng-controller="MainCtrl">
	<nav class="purple lighten-1" role="navigation">
	    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Imagine</a>
	      <ul class="right hide-on-med-and-down">
	        <li ng-show="loginedToFb"><div class="btn-flat white-text" ng-click="logoutFromFb()">Logout</div></li>
	      </ul>
	    </div>
  </nav>
	<div  ng-switch="loginedToFb">
		<div ng-switch-when="true">
			<div class="container">
				<br><br>
				<div class="row center">
					<a type="file" ngf-select="uploadImage($file)" class="waves-effect waves-light btn-large center-align" accept="image/*">
					<i class="material-icons right">add</i>Add image</a>
				</div>
				<div class="row center" ng-show="uploadProgress">
					<div class="preloader-wrapper small" ng-class="{active:uploadProgress}" style="vertival-align:center">
					    <div class="spinner-layer spinner-blue-only">
					      <div class="circle-clipper left">
					        <div class="circle"></div>
					      </div><div class="gap-patch">
					        <div class="circle"></div>
					      </div><div class="circle-clipper right">
					        <div class="circle"></div>
					      </div>
					    </div>
					  </div>
				</div>
				<div class="row center" ng-show="currentUser.images.length<=0||!currentUser.images">
					<h1 class="purple-text text-lighten-3">No images yet...</h1>
				</div>
			</div>
			
			<image-list images="currentUser.images">
			</image-list>
			
		</div>
		<div ng-switch-default>
			<start-screen></start-screen>
		</div>
	</div>
	<footer class="page-footer purple lighten-1">
	<div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.facebook.com/sergiy.dakhniy">Sergiy Dakhniy</a>
      </div>
    </div>
    </footer>
</body>
</html>